<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="Rosott's - 404" />
    <meta name="theme-color" content="#e6800b">
    <link id="favicon" rel="icon" href="/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css">
    <script src="/404.js"> </script>
    <title>Rosott's</title>
</head>

<body>
    <div class="container">
        <section class="hero is-primary">
            <div class="hero-body">
                <p class="title">
                    Error 404: Not Found
                </p>
                <p class="subtitle" id="error">
                </p>
            </div>
        </section>
</body>

</html>