<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="title" content="Rosott's - FAQs">
    <meta name="description" content="The FAQs page of the official Rosott's website." />
    <meta name="theme-color" content="#e6800b">
    <link id="favicon" rel="icon" href="/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css">
    <script src="/client.js" type="module"> </script>
    <title>Rosott's</title>
</head>

<body class="body">
    <nav class="navbar is-transparent is-fixed-top is-primary has-shadow" role="navigation" aria-label="main navigation"
        id="navbar">
        <div class="navbar-brand">
            <img class="navbar-item" src="/logo.png" width="220px" height="75px"
                onclick="javascript: window.location.pathname ='/'" style="cursor: pointer;">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nav">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="nav" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <a class="navbar-item" href="/rules">
                    Rules
                </a>

                <a class="navbar-item" href="/info">
                    Info
                </a>

                <a class="navbar-item" href="/partner">
                    Partner
                </a>

                <a class="navbar-item" href="/staff">
                    Staff
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/apply">
                            Applications
                        </a>

                        <a class="navbar-item" href="/appeal">
                            Appeal
                        </a>

                        <a class="navbar-item" href="/trainings">
                            Trainings
                        </a>

                        <a class="navbar-item" href="/faqs">
                            FAQs
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light is-outlined" id="discordlogin" href="#wip">
                            Login With Discord
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="notification is-primary">
            <h1 class="title is-1 has-text-centered" style="text-decoration: underline;">Frequently Asked Questions</h1>
            <p class="subtitle is-5 has-text-centered">Welcome to the Featured Frequently Asked Questions Section! The most relevant questions displayed here are professionally/accurately answered by the corporate staff.</p>
            <br>
            <details>
                <summary>Q: Does Rosott's provide positions?</summary>
                <p class="tabbed">A: Yes we do, and you may apply at the application center.</p>
            </details>
            <details>
                <summary>Q: When do updates come out?</summary>
                <p class="tabbed">A: Updates typically come out every now and then, sneak peaks are usually provided by the selected developers we have.</p>
            </details>
            <details>
                <summary>Q: How can I become a tester?</summary>
                <p class="tabbed">A: Our Bot & Web Dev Team is in charge of hiring testers. (The people in charge of this are Jack & Realistic)</p>
            </details>
            <details>
                <summary>Q: Does Rosott's sell purchasable ranks?</summary>
                <p class="tabbed">A: Yes we do sell ranks, but we only sell LR to preserve quality of our staff team.</p>
            </details>
            <details>
                <summary>Q: Can I help develop?</summary>
                <p class="tabbed">A: We will more than likely contact you if we ever need developers, other than that DM me if you're interested in developing.</p>
            </details>
            <details>
                <summary>Q: How do I become a Community Moderator?</summary>
                <p class="tabbed">A: Moderation positions will only be obtainable if the Chief Moderation Officer decides to open applications.</p>
            </details>
            <details>
                <summary>Q: How do I rank up with chat activity?</summary>
                <p class="tabbed">A: We currently do not offer any exclusive chat rewards for activity, we may in the future.</p>
            </details>
            <details>
                <summary>Q: How can I become/apply for the affiliate program?</summary>
                <p class="tabbed">A: You can always find our application <a href="/partner"> here</a>. We may also announce it in the <a href="https://discord.gg/c7UXRB3mJb">Discord server</a></p>
            </details>
            <details>
                <summary>Q: How can I report a user breaking a rule?</summary>
                <p class="tabbed">A: You can open a ticket by going to commands and running the .ticket command. After you will be directed to a prompt.  If it's urgent dm an online Community Moderator or an SHR.</p>
            </details>
        </div>
    </div>
</body>

</html>