<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="title" content="Rosott's - Home">
    <meta name="description" content="The homepage of the official Rosott's website." />
    <meta name="theme-color" content="#e6800b">
    <link id="favicon" rel="icon" href="/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css">
    <script src="/client.js" type="module"> </script>
    <title>Rosott's</title>
</head>

<body class="body">
    <nav class="navbar is-transparent is-fixed-top is-primary has-shadow" role="navigation" aria-label="main navigation"
        id="navbar">
        <div class="navbar-brand">
            <img class="navbar-item" src="/logo.png" width="220px" height="75px"
                onclick="javascript: window.location.pathname ='/'" style="cursor: pointer;">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nav">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="nav" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <a class="navbar-item" href="/rules">
                    Rules
                </a>

                <a class="navbar-item" href="/info">
                    Info
                </a>

                <a class="navbar-item" href="/partner">
                    Partner
                </a>

                <a class="navbar-item" href="/staff">
                    Staff
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/apply">
                            Applications
                        </a>

                        <a class="navbar-item" href="/appeal">
                            Appeal
                        </a>

                        <a class="navbar-item" href="/trainings">
                            Trainings
                        </a>

                        <a class="navbar-item" href="/faqs">
                            FAQs
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light is-outlined" id="discordlogin" href="#wip">
                            Login With Discord
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="block">
        <h1 class="title has-text-primary has-text-centered">test</h1>
        <h1 class="title has-text-primary has-text-centered">test 2</h1>
    </div>
</body>

</html>