<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="title" content="Rosott's - Partner" />
        <meta name="description" content="The partner page of the official Rosott's website." />
        <meta name="theme-color" content="#e6800b" />
        <link id="favicon" rel="icon" href="/logo.png" type="image/x-icon" />
        <link rel="stylesheet" href="/style.css" />
        <script src="/client.js"></script>
        <title>Rosott's</title>
    </head>

    <body class="body">
        <nav class="navbar is-transparent is-fixed-top is-primary has-shadow" role="navigation" aria-label="main navigation"
        id="navbar">
        <div class="navbar-brand">
            <img class="navbar-item" src="/logo.png" width="220px" height="75px"
                onclick="javascript: window.location.pathname ='/'" style="cursor: pointer;">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nav">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="nav" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <a class="navbar-item" href="/rules">
                    Rules
                </a>

                <a class="navbar-item" href="/info">
                    Info
                </a>

                <a class="navbar-item" href="/partner">
                    Partner
                </a>

                <a class="navbar-item" href="/staff">
                    Staff
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/apply">
                            Applications
                        </a>

                        <a class="navbar-item" href="/appeal">
                            Appeal
                        </a>

                        <a class="navbar-item" href="/trainings">
                            Trainings
                        </a>

                        <a class="navbar-item" href="/faqs">
                            FAQs
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light is-outlined" id="discordlogin" href="#wip">
                            Login With Discord
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
        <div class="container">
            <div class="notification is-primary">
                <h1 class="title has-text-centered" style="text-decoration: underline;">Rosott's Affiliate Applications</h1>
                <details>
                    <summary>Requirements</summary>
                    <ul>
                        <li class="tabbed">
                            Before affiliating with Rosott's one of the members of the Community Management Team must inspect such community to make sure they are abiding by our affiliation rules.
                        </li>
                        <li class="tabbed">
                            The community applying to ally with Rosott's must have an impeccable (clean) record and maintain professionalism at all times.
                        </li>
                        <li class="tabbed">
                            The community is to must have a minimum of 1,000 group members that are not bots.
                        </li>
                        <li class="tabbed">
                            The community must have sufficient/adequate amount of players during sessions.
                        </li>
                        <li class="tabbed">
                            The community must have an original game or assets under their corporation.
                        </li>
                        <li class="tabbed">
                            The community must have a discord server that displays professional announcements, development updates, sessions, and activity.
                        </li>
                    </ul>
                </details>
                <details>
                    <summary style="cursor: pointer;">Perks</summary>
                    <ul>
                        <li class="tabbed">
                            Access to our Monthly Partnership newsletter which keeps you up to date with our news and events!
                        </li>
                        <li class="tabbed">A unique role in our <a href="https://discord.gg/c7UXRB3mJb">Discord</a> displaying your affiliation with us.</li>
                        <li class="tabbed">Get our affiliation announced in our <a href="https://discord.gg/c7UXRB3mJb">Discord</a> including the important links of your community.</li>
                    </ul>
                </details>
                <p class="has-text-4">
                    To apply, fill out the form below. We will contact you via Discord if you are accepted.<br />
                    The current estimated wait time is 1 week.
                </p>
            </div>
        </div>
    </body>
</html>