<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="title" content="Rosott's - Rules">
    <meta name="description" content="The rules page of the official Rosott's website." />
    <meta name="theme-color" content="#e6800b">
    <link id="favicon" rel="icon" href="/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css">
    <script src="/client.js"> </script>
    <title>Rosott's</title>
</head>

<body class="body">
    <nav class="navbar is-transparent is-fixed-top is-primary has-shadow" role="navigation" aria-label="main navigation"
        id="navbar">
        <div class="navbar-brand">
            <img class="navbar-item" src="/logo.png" width="220px" height="75px"
                onclick="javascript: window.location.pathname ='/'" style="cursor: pointer;">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nav">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="nav" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <a class="navbar-item" href="/rules">
                    Rules
                </a>

                <a class="navbar-item" href="/info">
                    Info
                </a>

                <a class="navbar-item" href="/partner">
                    Partner
                </a>

                <a class="navbar-item" href="/staff">
                    Staff
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/apply">
                            Applications
                        </a>

                        <a class="navbar-item" href="/appeal">
                            Appeal
                        </a>

                        <a class="navbar-item" href="/trainings">
                            Trainings
                        </a>

                        <a class="navbar-item" href="/faqs">
                            FAQs
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light is-outlined" id="discordlogin" href="#wip">
                            Login With Discord
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="block">
        <div class="content is-normal">
            <h1 style="text-decoration: underline;">Rosott's Rules</h1>
            <p class="is-size-4">Rosott's uses multiple Terms of Service excluding our own. When using Rosott's you must abide by <a href="https://en.help.roblox.com/hc/en-us/articles/115004647846-Roblox-Terms-of-Use">Roblox Terms of Use</a>, <a href="https://discord.com/terms">Discord Terms of Service</a> and <a href="https://discord.com/guidelines">Discord Community Guidelines</a>. Not abiding by these guidelines will result in moderation action(s).</p>
            <h1 id="server-rules-text" style="text-decoration: underline;">Section 1 - Discord Server Text Chat Rules</h1>
            <p class="tabbed is-size-4">1.1 - All user(s) must verify prior to getting access to this community.<br>
                1.2 - This server is an English only server. We do that so moderators can moderate accordingly.<br>
                1.3 - Profanity is allowed but not used as offensive or NSFW language.<br>
                1.4 - Suspicious links or downloads and NSFW content is not permitted.<br>
                1.5 - Discussion of exploits or purchasing of exploiting is forbidden.<br>
                1.6 - Spamming is not allowed. Spamming is considered sending the same message 3(+) times.<br>
                1.7 - Flooding is not allowed. Flooding is considered sending large content to flood the chat.<br>
                1.8 - Memes are allowed as long as they're appropriate and do not ear-rape.<br>
                1.9 - Do not beg for items or a type of currency.<br>
                1.10 - Do not ping developers for any reason, as it will be an instant warning. Ghost pings are also forbidden. Mass mentions (3+ tags in one message) will be autowarned.<br>
                1.11 - Avoid discussion of religion or politics.<br>
                1.12 - Harassment, Disrespect, Hate Speech, or Arguing with users is not allowed.<br>
                1.13 - Doxxing/leaking private information of other members or staff is strictly prohibited.<br>
                1.14 - Staff have the final say all the time.</p>
                <h1 id="server-rules-voice" style="text-decoration: underline;">Section 2 - Discord Server Voice Chat Rules</h1>
                <p class="tabbed is-size-4">
                    2.1 - Screaming and voice changers are not allowed.<br>
                    2.2 - Playing inappropriate songs is forbidden.<br>
                    2.3 - All chat rules apply to voice chats, except you may minorly swear.
                </p>
                <h1 id="server-rules-extra" style="text-decoration: underline;">Section 3 - Extra Discord Server Rules</h1>
                <p class="tabbed is-size-4">3.1 - Discussion of moderation actions is prohibited.<br>
                        3.2 - Anything not mentioned will be dealt with on a case-by-case basis. Staff members will have final say in all cases.<br>
                        3.3 - NSFW/Inappropriate profile pictures, statuses, and nicknames are not allowed.<br>
                        3.4 - Discussion of age is forbidden. Joking about being under the age of 13 will be a permanent ban and you will be reported to Discord's Trust & Safety Team.<br>
                        3.5 - All developers will be paid unless if the original agreement states that there will be no pay involved. If you are a developer and you have contributed to the Community of Rostott's, all assets that you've made will stay with Rostott's & are property of Rostott's. If you are a developer and leave /or resign you may not retrieve the contributions you have made. Additionally, the contributions that you've made will not be taken out of Rostott's property if you have resigned or been removed.<br>
                        3.6 - Impersonating members is strictly forbidden.<br>
                        3.7 - A troller in-game is a user trying to disrupt our game operations.<br>
                        3.8 - Advertising of any kind is forbidden.<br>
                </p>
                <h1 id="game-rules" style="text-decoration: underline;">Section 4 - Game Rules</h1>
                <p class="tabbed is-size-4">
                    4.1 Exploiting of any form will lead to a 30 day or permanent ban. If it's not harming anyone it will result to a kick, if you come back and do it again it will be a 30 day ban.<br>
                        4.2 Glitching into any restricted areas like the kitchen will result in a warning and kick, if avoided 10-15 day ban.<br>
                        4.3 Harassment such as excessive insults, harmful intentions, or blackmailing depending on intensity can result in a 3-7 day ban. If extreme can result in further action.<br>
                        4.4 Spamming such as excessive flooding of the chat of any form can lead to a kick, or 1-8 day ban if avoided.<br>
                        4.5 Advertising of any kind in game will result in a kick, if avoided it can lead to a 2-5 day ban.
                </p>
        </div>
    </div>
</body>

</html>